body {
    background: #333;
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
}
/*navbar*/
.navUl {
    overflow: hidden;
    /*background-color: #333;*/
    list-style-type: none;
    width: 95%;
    margin-top: -7%;
    margin-left: -10%;

}

.navLi {
    float: left;
}

.navLi a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navLi a:hover {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #222;
}
/*end navbar*/

.container {
}

.title {
    font-family: 'Kaushan Script', cursive;
    color: #fff;
    margin-top: -5% !important;
    /*margin-bottom: 5% !important;*/
}

#main {
    background-color: #555;
    border-bottom: 1px solid #fff;
}

#chats: {
    background-color: #fff;
}

.chatUl {
    width: 88%;
    height: 435px;
    overflow: scroll;
}

.chat {
    background-color: #fff;
    list-style-type: none;
    min-height: 40px;
}

.userTitle {}
h3 {
    padding-left: 10%;
    color: #fff;
}

#main, #chats {
    width: 500px;
    margin: auto;
    text-align: left;
    padding: 50px 60px;
    background-color: #555;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

.chat .username {
    font-weight: 800;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.friend {
    color: #fff;
    background-color: #0090da;
}

.container {
}

.title {
    font-family: 'Kaushan Script', cursive;
    color: #fff;
}

#main {
    background-color: #555;
    border-bottom: 1px solid #fff;
}

#chats: {
    background-color: #fff;
    overflow: scroll;
}

.chat {
    background-color: #fff;
    list-style-type: none;
    min-height: 40px;
}
.chatInput {
    width: 88%;
    height: 20px;
    margin-left: 35px;
    padding-left: 5px;
}
.sendMessage {
    float: right;
    margin-right: 15px;
    margin-top: 10px;
}
/* Dropdown Button */
.dropbtn {
    color: white;
    padding: 14px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #555;
    height: 46px;
    margin:auto;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #222;
}
.hide {
    display:none;
}